<Files .user.ini>
    deny from all
</Files>
<Files *error.php>
    deny from all
</Files>
#<Files index.php>
#    deny from all
#</Files>
<Files server_error.php>
    Order Deny,Allow
    Allow from all
</Files>
<IfModule mod_php7.c>
    #php_value auto_prepend_file "/var/www/html/test1/Last-Hammer/error/init_error.php"
    php_value auto_prepend_file "C:/xampp/htdocs/dev/t1/Last-Hammer/error/init_error.php"
</IfModule>
ErrorDocument 400 /error/server_error.php
ErrorDocument 401 /error/server_error.php
ErrorDocument 402 /error/server_error.php
ErrorDocument 403 /error/server_error.php
ErrorDocument 404 /error/server_error.php
ErrorDocument 405 /error/server_error.php
ErrorDocument 406 /error/server_error.php
ErrorDocument 407 /error/server_error.php
ErrorDocument 408 /error/server_error.php
ErrorDocument 409 /error/server_error.php
ErrorDocument 410 /error/server_error.php
ErrorDocument 411 /error/server_error.php
ErrorDocument 412 /error/server_error.php
ErrorDocument 413 /error/server_error.php
ErrorDocument 414 /error/server_error.php
ErrorDocument 415 /error/server_error.php
ErrorDocument 500 /error/server_error.php
ErrorDocument 501 /error/server_error.php
ErrorDocument 502 /error/server_error.php
ErrorDocument 503 /error/server_error.php
ErrorDocument 504 /error/server_error.php
ErrorDocument 505 /error/server_error.php